pipeline/p_json_format_test.json
{
	"name": "p_json_format_test",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "False",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT (\nSELECT job_id ,\n(\nSELECT FirstName as [fields.name], EmailAddress [fields.email] from  SalesLT.Customer\nFOR JSON PATH\n) AS records\nFROM (select '111' as job_id) b\nORDER BY job_id\nFOR JSON PATH, WITHOUT_ARRAY_WRAPPER ) as col",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsCustomer",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "jsonoutput",
								"value": {
									"value": "@json(activity('Lookup1').output.firstRow.col)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"jsonoutput": {
				"type": "String"
			}
		},
		"folder": {
			"name": "working_with_json"
		},
		"annotations": []
	}
}