angryadf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "angryadf"
		},
		"CosmosDb1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CosmosDb1'"
		},
		"blobstagingaccount_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'blobstagingaccount'"
		},
		"sjhsynapsestorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'sjhsynapsestorage'"
		},
		"sqlAdventureWorksSource_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sqlAdventureWorksSource'"
		},
		"sqldwAdventureWorksDestination_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sqldwAdventureWorksDestination'"
		},
		"sjhsynapsestorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sjhsynapsestorage.dfs.core.windows.net"
		},
		"delta_test_01_properties_delta_load_w_updates_parameters_Data_Source_Table_Name": {
			"type": "string",
			"defaultValue": "ANGRY.FactResellerSales"
		},
		"delta_test_01_properties_delta_load_w_updates_parameters_Data_Source_WaterMarkColumn": {
			"type": "string",
			"defaultValue": "ModifiedDate"
		},
		"delta_test_01_properties_delta_load_w_updates_parameters_Data_Destination_Table_Name": {
			"type": "string",
			"defaultValue": "ANGRY.FactResellerSales"
		},
		"delta_test_01_properties_delta_load_w_updates_parameters_Control_Table_Table_Name": {
			"type": "string",
			"defaultValue": "ANGRY.watermarktable"
		},
		"delta_test_01_properties_delta_load_w_updates_parameters_Control_Table_Column_Name": {
			"type": "string",
			"defaultValue": "WatermarkValue"
		},
		"delta_test_01_properties_delta_load_w_updates_parameters_Data_Destination_Staging_Table_Name": {
			"type": "string",
			"defaultValue": "ANGRY.FactResellerSales_Staging"
		},
		"dummy_wait_trigger_01_properties_dummy_wait_pipeline_parameters_parm_maxRuntimeInSeconds": {
			"type": "int",
			"defaultValue": 58
		},
		"dummy_wait_trigger_02_hour_properties_pipeline_parameters_parm_maxRuntimeInSeconds": {
			"type": "int",
			"defaultValue": 3200
		},
		"trunc_reload_trigger_01_properties_truncate_and_reload_parameters_Control_Table_Name": {
			"type": "string",
			"defaultValue": "ANGRY.reloadcontroltable"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/bulk_copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy huge amount of data in bulk from database using external control table to store source table list with partitions for each table.\n\nWhen you want to migrate data from your data warehouse like Oracle server, Netezza server, Teradata server or SQL Server to Azure, you have to load huge amount of data from multiple tables in data sources. In most cases, data has to be further partitioned in each table so that you can load rows with multiple threads in parallel from single table.",
				"activities": [
					{
						"name": "GetPartitionList",
						"description": "Lookup activity to retrieve the list of partitions stored in the external control table.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "@concat('select PartitionId, DestTableName, FilterQuery from ', pipeline().parameters.Control_Table_Name, ' where success_ind is null OR success_ind <> ''Y''')",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sqldwAdventureWorksDestTable",
								"type": "DatasetReference",
								"parameters": {
									"TableName": {
										"value": "@pipeline().parameters.Control_Table_Name",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachPartition",
						"description": "ForEach activity to get the partition list from Lookup activity and then iterate each of them to Copy activity. ",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetPartitionList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetPartitionList').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "CopyOnePartition",
									"description": "Copy activity to copy each partition from source database store to destination store.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"sqlReaderQuery": {
												"value": "@item().FilterQuery",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"writeBatchSize": 10000,
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "blobstagingaccount",
												"type": "LinkedServiceReference"
											},
											"path": "adfstagingcopydata",
											"enableCompression": true
										},
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "sqlAdventureWorksSourceTable",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@pipeline().parameters.Control_Table_Schema_DestTableName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sqldwAdventureWorksDestTable",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "@item().DestTableName"
											}
										}
									]
								},
								{
									"name": "SetProcessingFlag",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CopyOnePartition",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[ANGRY].bulk_copy_success",
										"storedProcedureParameters": {
											"PartitionId": {
												"value": {
													"value": "@item().PartitionId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"TableName": {
												"value": {
													"value": "@item().DestTableName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "sqldwAdventureWorksDestination",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Control_Table_Name": {
						"type": "String",
						"defaultValue": "ANGRY.bulkcopycontroltable"
					},
					"Control_Table_Schema_PartitionID": {
						"type": "String",
						"defaultValue": "PartitionID"
					},
					"Control_Table_Schema_DestTableName": {
						"type": "String",
						"defaultValue": "DestTableName"
					},
					"Control_Table_Schema_FilterQuery": {
						"type": "String",
						"defaultValue": "FilterQuery"
					}
				},
				"folder": {
					"name": "bulk_copy"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sqldwAdventureWorksDestTable')]",
				"[concat(variables('factoryId'), '/datasets/sqlAdventureWorksSourceTable')]",
				"[concat(variables('factoryId'), '/linkedServices/sqldwAdventureWorksDestination')]",
				"[concat(variables('factoryId'), '/linkedServices/blobstagingaccount')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/delta_load_w_updates')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy new or updated rows only from database using external control table",
				"activities": [
					{
						"name": "LookupLastWaterMark",
						"description": "Retrieve  the last high-watermark value stored in external control table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sqldwAdventureWorksDestTable",
								"type": "DatasetReference",
								"parameters": {
									"TableName": {
										"value": "@pipeline().parameters.Control_Table_Table_Name",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "LookupCurrentWaterMark",
						"description": "Retrieve  the current maximum value in watermark column of source data store",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "@concat('select MAX(',pipeline().parameters.Data_Source_WaterMarkColumn, ') as NewWatermarkValue from ',pipeline().parameters.Data_Source_Table_Name)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sqlAdventureWorksSourceTable",
								"type": "DatasetReference",
								"parameters": {
									"TableName": {
										"value": "@pipeline().parameters.Data_Source_Table_Name",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "DeltaCopyfromDB",
						"description": "Copy activity to use query to filter the delta data by > last high-watermark and <= current high-watermark from source database, and then only copy the changes to the destination store.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupCurrentWaterMark",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupLastWaterMark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "select * from \n@{pipeline().parameters.Data_Source_Table_Name} where @{pipeline().parameters.Data_Source_WaterMarkColumn} > '@{activity('LookupLastWaterMark').output.firstRow.WatermarkValue}' and @{pipeline().parameters.Data_Source_WaterMarkColumn} <= '@{activity('LookupCurrentWaterMark').output.firstRow.NewWatermarkValue}'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "@{concat('TRUNCATE TABLE ', pipeline().parameters.Data_Destination_Staging_Table_Name)}",
									"type": "Expression"
								},
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "blobstagingaccount",
									"type": "LinkedServiceReference"
								},
								"path": "adfstagingcopydata",
								"enableCompression": true
							},
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "sqlAdventureWorksSourceTable",
								"type": "DatasetReference",
								"parameters": {
									"TableName": {
										"value": "@pipeline().parameters.Data_Source_Table_Name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "sqldwAdventureWorksDestTable",
								"type": "DatasetReference",
								"parameters": {
									"TableName": {
										"value": "@pipeline().parameters.Data_Destination_Staging_Table_Name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DeltaLoadFromStaging",
						"description": "Stored procedure activity to find the existing records in the destination table and delete them prior to  inserting the records from staging. ",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DeltaCopyfromDB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ANGRY].[delta_load_w_updates]",
							"storedProcedureParameters": {
								"LastModifiedDatetime": {
									"value": {
										"value": "@activity('LookupCurrentWaterMark').output.firstRow.NewWatermarkValue",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"StagingTableName": {
									"value": {
										"value": "@pipeline().parameters.Data_Destination_Staging_Table_Name",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.Data_Destination_Table_Name",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sqldwAdventureWorksDestination",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"Data_Source_Table_Name": {
						"type": "String",
						"defaultValue": "ANGRY.FactResellerSales"
					},
					"Data_Source_WaterMarkColumn": {
						"type": "String",
						"defaultValue": "ModifiedDate"
					},
					"Data_Destination_Table_Name": {
						"type": "String",
						"defaultValue": "ANGRY.FactResellerSales"
					},
					"Control_Table_Table_Name": {
						"type": "String",
						"defaultValue": "ANGRY.watermarktable"
					},
					"Control_Table_Column_Name": {
						"type": "String",
						"defaultValue": "WatermarkValue"
					},
					"Data_Destination_Staging_Table_Name": {
						"type": "String",
						"defaultValue": "ANGRY.FactResellerSales_Staging"
					}
				},
				"folder": {
					"name": "delta_w_updates"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sqldwAdventureWorksDestTable')]",
				"[concat(variables('factoryId'), '/datasets/sqlAdventureWorksSourceTable')]",
				"[concat(variables('factoryId'), '/linkedServices/sqldwAdventureWorksDestination')]",
				"[concat(variables('factoryId'), '/linkedServices/blobstagingaccount')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dummy_wait_an_hour')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 3600
						}
					}
				],
				"parameters": {
					"parm_maxRuntimeInSeconds": {
						"type": "int",
						"defaultValue": 3200
					}
				},
				"folder": {
					"name": "adfmonitoringworkshop"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dummy_wait_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "wait_activity",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [
							{
								"name": "maxRuntimeInSeconds",
								"value": "55"
							}
						],
						"typeProperties": {
							"waitTimeInSeconds": 60
						}
					}
				],
				"parameters": {
					"parm_maxRuntimeInSeconds": {
						"type": "int",
						"defaultValue": 58
					}
				},
				"variables": {
					"var_maxRuntimeInSeconds": {
						"type": "String",
						"defaultValue": "56"
					}
				},
				"folder": {
					"name": "adfmonitoringworkshop"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/p_telemetry')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"preferredRegions": []
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['recordtype']"
										},
										"sink": {
											"name": "recordtype",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['medallionid']"
										},
										"sink": {
											"name": "medallionid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['pickup_location_id']"
										},
										"sink": {
											"name": "pickup_location_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['pickup_datetime']"
										},
										"sink": {
											"name": "pickup_datetime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['passenger_count']"
										},
										"sink": {
											"name": "passenger_count",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['tolls_amount']"
										},
										"sink": {
											"name": "tolls_amount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['type']"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['improvement_surcharge']"
										},
										"sink": {
											"name": "improvement_surcharge",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['dropoff_location_id']"
										},
										"sink": {
											"name": "dropoff_location_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['trip_distance']"
										},
										"sink": {
											"name": "trip_distance",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['store_and_fwd_flag']"
										},
										"sink": {
											"name": "store_and_fwd_flag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['payment_type']"
										},
										"sink": {
											"name": "payment_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['rate_code_id']"
										},
										"sink": {
											"name": "rate_code_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['total_amount']"
										},
										"sink": {
											"name": "total_amount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['vendor_id']"
										},
										"sink": {
											"name": "vendor_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['extra']"
										},
										"sink": {
											"name": "extra",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['vin']"
										},
										"sink": {
											"name": "vin",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['tip_amount']"
										},
										"sink": {
											"name": "tip_amount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['mta_tax']"
										},
										"sink": {
											"name": "mta_tax",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['dropoff_datetime']"
										},
										"sink": {
											"name": "dropoff_datetime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Telemetry2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "telemetry2parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Telemetry2')]",
				"[concat(variables('factoryId'), '/datasets/telemetry2parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/p_telemetrysmall')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": "select * from c",
								"preferredRegions": []
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings",
									"maxRowsPerFile": 100000,
									"fileNamePrefix": "telemetry2"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['recordtype']"
										},
										"sink": {
											"name": "recordtype"
										}
									},
									{
										"source": {
											"path": "$['EventEnqueuedUTCTime']"
										},
										"sink": {
											"name": "EventEnqueuedUTCTime"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['medallionid']"
										},
										"sink": {
											"name": "medallionid"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['pickup_location_id']"
										},
										"sink": {
											"name": "pickup_location_id"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['pickup_datetime']"
										},
										"sink": {
											"name": "pickup_datetime"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['passenger_count']"
										},
										"sink": {
											"name": "passenger_count"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['tolls_amount']"
										},
										"sink": {
											"name": "tolls_amount"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['type']"
										},
										"sink": {
											"name": "type"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['improvement_surcharge']"
										},
										"sink": {
											"name": "improvement_surcharge"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['dropoff_location_id']"
										},
										"sink": {
											"name": "dropoff_location_id"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['trip_distance']"
										},
										"sink": {
											"name": "trip_distance"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['store_and_fwd_flag']"
										},
										"sink": {
											"name": "store_and_fwd_flag"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['payment_type']"
										},
										"sink": {
											"name": "payment_type"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['rate_code_id']"
										},
										"sink": {
											"name": "rate_code_id"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['total_amount']"
										},
										"sink": {
											"name": "total_amount"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['vendor_id']"
										},
										"sink": {
											"name": "vendor_id"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['extra']"
										},
										"sink": {
											"name": "extra"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['vin']"
										},
										"sink": {
											"name": "vin"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['tip_amount']"
										},
										"sink": {
											"name": "tip_amount"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['mta_tax']"
										},
										"sink": {
											"name": "mta_tax"
										}
									},
									{
										"source": {
											"path": "$['telemetry']['dropoff_datetime']"
										},
										"sink": {
											"name": "dropoff_datetime"
										}
									},
									{
										"source": {
											"path": "$['vin']"
										},
										"sink": {
											"name": "vin2"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id"
										}
									},
									{
										"source": {
											"path": "$['_rid']"
										},
										"sink": {
											"name": "_rid"
										}
									},
									{
										"source": {
											"path": "$['_self']"
										},
										"sink": {
											"name": "_self"
										}
									},
									{
										"source": {
											"path": "$['_etag']"
										},
										"sink": {
											"name": "_etag"
										}
									},
									{
										"source": {
											"path": "$['_attachments']"
										},
										"sink": {
											"name": "_attachments"
										}
									},
									{
										"source": {
											"path": "$['_ts']"
										},
										"sink": {
											"name": "_ts"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Telemetry2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "telemetry2parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Telemetry2')]",
				"[concat(variables('factoryId'), '/datasets/telemetry2parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/truncate_and_reload')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachLookupTable",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetReloadList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetReloadList').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "lookup_tbl_copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"sqlReaderQuery": {
												"value": "select * from @{item().SourceTableName}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"writeBatchSize": 10000,
											"preCopyScript": {
												"value": "TRUNCATE TABLE @{item().DestTableName}",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": true
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "blobstagingaccount",
												"type": "LinkedServiceReference"
											},
											"path": "adfstagingcopydata",
											"enableCompression": false
										}
									},
									"inputs": [
										{
											"referenceName": "sqlAdventureWorksSourceTable",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@{item().SourceTableName}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sqldwAdventureWorksDestTable",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "@{item().DestTableName}"
											}
										}
									]
								},
								{
									"name": "UpdateWatermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "lookup_tbl_copy",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "ANGRY.update_watermark",
										"storedProcedureParameters": {
											"LastModifiedtime": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"TableName": {
												"value": {
													"value": "@{item().DestTableName}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "sqldwAdventureWorksDestination",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetReloadList",
						"description": "Lookup activity to retrieve the list of partitions stored in the external control table.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sqldwAdventureWorksDestTable",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "[[ANGRY].[reloadcontroltable]"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"Control_Table_Name": {
						"type": "String",
						"defaultValue": "ANGRY.reloadcontroltable"
					}
				},
				"folder": {
					"name": "truncate_and_reload"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sqldwAdventureWorksDestTable')]",
				"[concat(variables('factoryId'), '/datasets/sqlAdventureWorksSourceTable')]",
				"[concat(variables('factoryId'), '/linkedServices/sqldwAdventureWorksDestination')]",
				"[concat(variables('factoryId'), '/linkedServices/blobstagingaccount')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Telemetry2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"recordtype": {
							"type": "string"
						},
						"EventEnqueuedUTCTime": {
							"type": "integer"
						},
						"telemetry": {
							"type": "object",
							"properties": {
								"medallionid": {
									"type": "string"
								},
								"pickup_location_id": {
									"type": "integer"
								},
								"pickup_datetime": {
									"type": "integer"
								},
								"passenger_count": {
									"type": "integer"
								},
								"tolls_amount": {
									"type": "integer"
								},
								"type": {
									"type": "string"
								},
								"improvement_surcharge": {
									"type": "number"
								},
								"dropoff_location_id": {
									"type": "integer"
								},
								"trip_distance": {
									"type": "number"
								},
								"store_and_fwd_flag": {
									"type": "string"
								},
								"payment_type": {
									"type": "string"
								},
								"rate_code_id": {
									"type": "string"
								},
								"total_amount": {
									"type": "number"
								},
								"vendor_id": {
									"type": "string"
								},
								"extra": {
									"type": "integer"
								},
								"vin": {
									"type": "string"
								},
								"tip_amount": {
									"type": "number"
								},
								"mta_tax": {
									"type": "number"
								},
								"dropoff_datetime": {
									"type": "integer"
								}
							}
						},
						"vin": {
							"type": "string"
						}
					}
				},
				"typeProperties": {
					"collectionName": "TripTelemetry2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDb1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlAdventureWorksSourceTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqlAdventureWorksSource",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqlAdventureWorksSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldwAdventureWorksDestTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldwAdventureWorksDestination",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"typeProperties": {
					"tableName": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqldwAdventureWorksDestination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/telemetry2parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sjhsynapsestorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "telemetry"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sjhsynapsestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDb1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('CosmosDb1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobstagingaccount')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('blobstagingaccount_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sjhsynapsestorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('sjhsynapsestorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('sjhsynapsestorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlAdventureWorksSource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sqlAdventureWorksSource_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldwAdventureWorksDestination')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('sqldwAdventureWorksDestination_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/delta_test_01')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [
					"dummy"
				],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "delta_load_w_updates",
							"type": "PipelineReference"
						},
						"parameters": {
							"Data_Source_Table_Name": "[parameters('delta_test_01_properties_delta_load_w_updates_parameters_Data_Source_Table_Name')]",
							"Data_Source_WaterMarkColumn": "[parameters('delta_test_01_properties_delta_load_w_updates_parameters_Data_Source_WaterMarkColumn')]",
							"Data_Destination_Table_Name": "[parameters('delta_test_01_properties_delta_load_w_updates_parameters_Data_Destination_Table_Name')]",
							"Control_Table_Table_Name": "[parameters('delta_test_01_properties_delta_load_w_updates_parameters_Control_Table_Table_Name')]",
							"Control_Table_Column_Name": "[parameters('delta_test_01_properties_delta_load_w_updates_parameters_Control_Table_Column_Name')]",
							"Data_Destination_Staging_Table_Name": "[parameters('delta_test_01_properties_delta_load_w_updates_parameters_Data_Destination_Staging_Table_Name')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-11-08T15:32:00Z",
						"endTime": "2019-11-29T15:32:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								15
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/delta_load_w_updates')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dummy_wait_trigger_01')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [
					"annotation1"
				],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "dummy_wait_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {
							"parm_maxRuntimeInSeconds": "[parameters('dummy_wait_trigger_01_properties_dummy_wait_pipeline_parameters_parm_maxRuntimeInSeconds')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2019-11-11T16:45:00Z",
						"endTime": "2019-11-15T16:45:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/dummy_wait_pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dummy_wait_trigger_02_hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [
					"wait"
				],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "dummy_wait_an_hour",
						"type": "PipelineReference"
					},
					"parameters": {
						"parm_maxRuntimeInSeconds": "[parameters('dummy_wait_trigger_02_hour_properties_pipeline_parameters_parm_maxRuntimeInSeconds')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 65,
					"startTime": "2019-11-12T04:43:00Z",
					"endTime": "2019-11-15T04:43:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/dummy_wait_an_hour')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trunc_reload_trigger_01')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [
					"ANGRY.reloadcontroltable"
				],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "truncate_and_reload",
							"type": "PipelineReference"
						},
						"parameters": {
							"Control_Table_Name": "[parameters('trunc_reload_trigger_01_properties_truncate_and_reload_parameters_Control_Table_Name')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 3,
						"startTime": "2019-11-11T18:48:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/truncate_and_reload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/p_metricsadvisor_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "X",
							"value": "2"
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": {
								"value": "@if(equals(rand(1,50),49),rand(300,800),rand(10,60))",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"X": {
						"type": "String",
						"defaultValue": "1"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/t_metricsadvisor_test')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "p_metricsadvisor_test",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 5,
					"startTime": "2021-03-26T15:30:00Z",
					"endTime": "2021-04-10T15:30:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/p_metricsadvisor_test')]"
			]
		}
	]
}